{% extends "master.html" %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">teacher name</th>
                    <th scope="col">course_code</th>
                    <th scope="col">duration</th>
                    <th scope="col">fees</th>
                    <th scope="col">syllabus</th>
                    <th scope="col">created_date</th>
                    <th scope="col">update_date</th>
                    <th scope="col">active_status</th>
                    <th scope="col">level</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in Course %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{i.abc.Name}}</td>
                    <td>{{i.Name}}</td>
                    <td>{{i.course_code}}</td>
                    <td>{{i.duration}}</td>
                    <td>{{i.fees}}</td>
                    <td>{{i.syllabus}}</td>
                    <td>{{i.created_date}}</td>
                    <td>{{i.update_date}}</td>
                    <td>{{i.active_status}}</td>
                    <td>{{i.level}}</td>
                    <td>
                        <a href="{% url 'delete_Course' i.id %}"><button type="button" class="btn btn-outline-primary">Delete</button></a>
                        <a href="{% url 'update_Course' i.id %}"><button type="button" class="btn btn-outline-primary">Update</button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}