{% extends "master.html" %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">room_no</th>
                    <th scope="col">join_date</th>
                    <th scope="col">phone</th>
                    <th scope="col">guardian_name</th>
                    <th scope="col">address</th>
                    <th scope="col">id_proof</th>
                    <th scope="col">fees_paid</th>
                    <th scope="col">gender</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in HostelStudent %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.room_no}}</td>
                    <td>{{i.join_date}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.guardian_name}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.id_proof}}</td>
                    <td>{{i.afees_paidy}}</td>
                    <td>{{i.gender}}</td>
                    <td>
                        <a href="{% url 'delete_HostelStudent' i.id %}"><button type="button" class="btn btn-outline-primary">Delete</button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}