{% extends "master.html" %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">customer name</th>
                    <th scope="col">order_no</th>
                    <th scope="col">customer_name</th>
                    <th scope="col">order_date</th>
                    <th scope="col">delivery_date</th>
                    <th scope="col">payment_mode</th>
                    <th scope="col">total_amount</th>
                    <th scope="col">discount</th>
                    <th scope="col">status</th>
                    <th scope="col">address</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in order %}
                  <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{i.customer.name}}</td>
                    <td>{{i.order_no}}</td>
                    <td>{{i.customer_name}}</td>
                    <td>{{i.order_date}}</td>
                    <td>{{i.delivery_date}}</td>
                    <td>{{i.payment_mode}}</td>
                    <td>{{i.total_amount}}</td>
                    <td>{{i.discount}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.address}}</td>
                    <td>
                        <a href="{% url 'delete_order' i.id %}"><button type="button" class="btn btn-outline-primary">Delete</button></a>
                        <a href="{% url 'update_order' i.id %}"><button type="button" class="btn btn-outline-primary">Update</button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}